[submodule "frenetic-sbst21"]
	path = frenetic-sbst2021
	url = git@github.com:ERATOMMSD/frenetic-sbst21.git
[submodule "swat-sbst2021"]
	path = swat-sbst2021
	url = git@github.com:dgumenyuk/tool-competition-av.git
