[submodule "frenetic-sbst21"]
	path = frenetic-sbst2021
	url = https://github.com/se2p/frenetic-sbst21.git
[submodule "swat-sbst2021"]
	path = swat-sbst2021
	url = https://github.com/alessiogambi/swat-sbst2021.git
